.navbar.navbar-fixed-top.navbar-inverse
  %a.navbar-brand{ :href => root_path } BULLETIN BOARD
  %ul.nav.navbar-nav.pull-right
    %li= link_to "Home", root_path
    %li= link_to "Users", "#"
    %li= link_to "Sign in", "#"